  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 1</ion-title>
        
      </ion-toolbar>
    </ion-header>

    
  

    <div *ngIf="userName$ | async as userName">
      <p>Welcome, {{ userName }}!</p>
      <p>You are now in {{currentCity}}, {{currentCountry}}</p>
      <p>The emergeny number for {{currentCountry}} is 112</p>


      <div class="pad">Emergency numbers around the world</div>
      <ion-searchbar (ionChange)="filterCountries($event)" debounce="500"></ion-searchbar>

      
        <ion-list *ngIf="searchBarEmpty || filteredData.length > 0">
          <ion-item *ngFor="let item of filteredData">
            <ion-label>
              <h2>{{ item.Country.Name }}</h2>
              <p>Ambulance: {{ item.Ambulance.All[0] }}</p>
              <p>Fire: {{ item.Fire.All[0] }}</p>
              <p>Police: {{ item.Police.All[0] }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

      
      
      

    </div>
    <div>
      
     
    </div>
  </ion-content>
  
