.labels{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    padding-top: 1rem;
   
}

.ltext{
    margin-bottom: 1rem;
}

.lpass{
    margin-bottom: 1rem;
}

.button-size{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-size: 3rem;
    padding: 1.1rem;
    margin-top: 2rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

.register {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.error-text {
    text-align: center;
    color: red;
    font-size: 1rem;
    margin-bottom: 1em;
    
}
