
<ion-content class="ion-padding ion-flex ion-justify-content-center ion-align-items-center">
  <img src="assets/logos/logo-no-background.png" alt="Logo" class="logo">
  <div class="ion-text-center">Register</div>

  

  <form [formGroup]="formReg">
  <div class="labels">

    <ion-input class="ltext" formControlName="name" label="Name"  label-placement="floating" fill="outline" placeholder="Enter your name" autocomplete="disabled" type="text" #name required ></ion-input>
      <div *ngIf="formReg.controls['name'].hasError('minlength') && formReg?.touched" class="error-text">
        Name must be atleast 4 characters long!
     </div>
  
    <ion-input class="ltext" formControlName="email" label="E-Mail" label-placement="floating" fill="outline" placeholder="Enter E-Mail" autocomplete="disabled" type="text" #email required ></ion-input>
    <div *ngIf="formReg.controls['email'].hasError('email') && formReg?.touched" class="error-text">
      The E-Mail is invalid!
   </div> 

    <ion-input class="lpass" formControlName="password" label="Type a new password" label-placement="floating" fill="outline" placeholder="Type a new password" type="password" #password required autocomplete="disabled"></ion-input>
    <div *ngIf="formReg.controls['password'].hasError('minlength') && formReg?.touched" class="error-text">
      The password must be 8 characters long!
   </div> 
    <ion-input class="lpass" formControlName="confirmPassword" label="Re-enter the new Password" label-placement="floating" fill="outline" placeholder="Re-enter the new Password" type="password" #password required autocomplete="disabled" ></ion-input>  
    <div *ngIf="formReg?.errors?.['mismatch'] && formReg?.touched" class="error-text">
        Password must match!
      </div>
  </div>

    <ion-button [disabled]="!formReg.valid" class="button-size" (click)="signUp(email, password,name)" shape="round">
      <ion-icon name="enter-outline"></ion-icon>
    </ion-button>

    <div class="ion-text-center">
      <ion-button [routerLink]="['/first-page']" class="back-button" shape="round">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </form>



  

</ion-content>
