<ion-content [fullscreen]="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="content.scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item class='title-card'>
    <div class="title">
      
      Latest Emergency's Notifications
    </div>
  </ion-item>

  <ion-card *ngFor="let notification of notifications">
    <ion-card-header>
      <ion-card-title>{{ notification.title }}</ion-card-title>
      <ion-card-subtitle>Emergency level {{ notification.nivel }}</ion-card-subtitle>
      <ion-card-subtitle>{{ notification.timeAndDate }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ notification.description }}
    </ion-card-content>
  </ion-card>
  
</ion-content>
