
<ion-content class="ion-padding ion-flex ion-justify-content-center ion-align-items-center">
    <img src="assets/logos/logo-no-background.png" alt="Logo" class="logo">
    
    <div class="labels">
    <ion-input class="lemail" label="E-Mail" label-placement="floating" fill="outline" placeholder="Enter E-Mail" type="text" #email required></ion-input>
    <ion-input class="lpass" label="Password" label-placement="floating" fill="outline" placeholder="Enter Password" type="password" #password required></ion-input>

    <ion-button class="button-size" shape="round" (click)="logIn(email, password)">
        <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>

    <div class="ion-text-center">...or use Google instead</div>
    <ion-button class="button-size" shape="round">
        <ion-icon name="logo-google"></ion-icon>
    </ion-button>
    <div class="ion-text-center">
        <ion-button [routerLink]="['/first-page']" class="back-button" shape="round">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
    </div>

    

</div>

</ion-content>

