

<div class="labels">
    <img src="assets/logos/logo-no-background.png" alt="Logo" class="logo">
    <ion-input class="lemail" label="E-Mail" label-placement="floating" fill="outline" placeholder="Enter E-Mail"></ion-input>
    <ion-input class="lpass" label="Password" label-placement="floating" fill="outline" placeholder="Enter Password" type="password"></ion-input>
    <ion-button [routerLink]="['/login']" class="button-size" shape="round">
        <ion-icon name="log-in-outline"></ion-icon>
        
    </ion-button>
    <ion-button class="button-size" shape="round">
        <ion-icon name="logo-google"></ion-icon>
        
    </ion-button>
</div>


