.labels{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    padding-top: 1rem;
   
}

.lemail{
    margin-bottom: 2rem;
}

.lpass{
    margin-bottom: 1rem;
}

.button-size{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.2rem;
    padding: 1.1rem;
    margin-top: 0.1rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

