.labels{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    padding-top: 1rem;
   
}

.lemail{
    margin-bottom: 2rem;
}

.lpass{
    margin-bottom: 1rem;
}

.button-size{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.2rem;
    padding: 1.1rem;
    margin-top: 0.1rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0.5rem;
    margin-bottom: 1rem;
    width: 90%;
  }

  .logosp{
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

.back-button{
    margin-left: auto;
    margin-right: auto;
    
}

.color_text{
    color:#eb445a;
}

.back-css {
    /* Stilurile pentru imaginea de fundal */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-position: center;
    background-size: cover;    
    animation-name: fadeInOut;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; /* Transparenta de 50% */
    }