<ion-content class="ion-padding ion-flex ion-justify-content-center ion-align-items-center">
    <div class="back-css" style="background-image: url('assets/images/back6.jpg')"></div>
        <div class="logosp"> 
            <ion-card>
                <img src="assets/logos/logo-no-background.png" alt="Logo" class="logo">
            </ion-card>
        </div>
        <div class="logo-space">
        <ion-button [routerLink]="['/login']" class="button-size" shape="round">Login</ion-button>
        <ion-button [routerLink]="['/register-page']" class="button-size" shape="round">Register</ion-button>
        <ion-button [routerLink]="['/admin']" class="button-size" shape="round">Admin</ion-button>
    </div>
</ion-content>




   

