<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="extra" href="/tabs/extra">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="last" href="/tabs/last">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="info" href="/tabs/info">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="details" href="/tabs/details">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
